.waiter-table-card {
    width: 25%;
}

.waiter-table-card div {
    padding: 1rem;

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f2f5;
    margin-bottom: 20px;
  }
  
  .header-button {
    margin-right: 10px;
  }
  
  .header-time {
    font-size: 16px;
    font-weight: bold;
  }
  
  .table-card-container {
    padding: 20px;
  }
  
  .table-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
  }
  
  .table-card {
    text-align: center;
    transition: transform 0.2s;
  }
  
  .table-card:hover {
    transform: scale(1.05);
  }
  
  .banner-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
  