.category-container {
  overflow:hidden ;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 30vh;
  border-bottom: 1px solid gray;
}

.menu-container {
  margin: 2rem;
  display: flex;
  flex-direction: column !important;
  gap: 2rem;
}


.menu-card-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-direction: column;
}